<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/assests/css/style.css" type="text/css"/>  
    <title>Eat A Burger!</title>
    <script src="https://kit.fontawesome.com/eb630ddf94.js" crossorigin="anonymous"></script>   
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/index.js"></script>
</head>
<body>
    {{{ body }}}
</body>
</html>