@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
	margin: 0;
background: rgb(0,0,0);
background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(121,0,133,1) 100%);
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

html {
  scroll-behavior: smooth;
}


.text h2 {
  margin-top: 100px;
  color: #fff;
  font-size: 8rem;
  cursor: context-menu;
}



.text span {
  display: inline-block;
  font-size: 30px;
}

span:hover {
  color: aqua;
  transition: all .5s;
}
span.name {
  color: aqua;
}

span.m-left {
  margin-left: -10px;
}




.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background: rgb(124,31,233);
background: radial-gradient(circle, rgba(124,31,233,1) 32%, rgba(121,0,133,1) 100%);
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 40px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.cropped {
  width: 150px; /* width of container */
  height: 150px; /* height of container */
  overflow: hidden;
  border: 5px solid black;
}

.cropped img {
  margin: -10px 0px 0px -180px;
}

.btn:hover{
  background-color: aqua;
}


footer {
   
  margin-top: auto;
  background: rgb(124,31,233);
  background: radial-gradient(circle, rgba(124,31,233,1) 32%, rgba(121,0,133,1) 100%);
  width: 100%;
  text-align: center;
  height: 70px;
  position: fixed;bottom:0;left:0;right:0;height:60px;
}
.footerborder {
    border-width: 10px !important;
    border-color: teal !important;
}  

.social-media a{
  margin-right: 6rem;
}

.









form.signup,
form.login {
  margin-top: 50px;
}
