.abs-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar {
    width: 100%;
    overflow: auto;
    background-color: #7b68ee;
}

.navbar a {
    float: right;
    text-align: center;
    padding: 12px;
    color: #444;
    text-decoration: none;
    

}

.card {
	width: 18rem;
	margin: 10px;
}

@mixin font-base {
	padding: 0;
	margin: 0;
	line-height: 1.3;
	font-weight: 600;
}

h4 {
	@include font-base;
}
h3 {
	background-color: #444;
}

h2 {
	color: #222;
}


p {
	@include font-base;
	color:aqua;
	font-size: 10px;
}

a {
	color: aqua;
}
.result {
	color: aqua;
}
body {
	background-color: #222;
}

.container {
	width: 560px;
	background-color: #7b68ee;
	margin: 0 auto;
	color: aqua;
}

header,
section {
	position: fixed;
	text-align: center;
	width: 560px;
	background-color: #fff;
}

section {
	top: 50px;
}

.logo {
	width: 120px;
	padding: 10px;
}

main {
	padding: 370px 18px 10px;
}

article {
	display: flex;
	align-items: center;
	padding: 8px 12px;
	border: 2px solid white;
	border-radius: 8px;
	margin: 0 auto;
	&:hover {
		border: 2px solid #ff9999;
	}
}

.thumb {
	height: 70px;
	border-radius: 4px;
}

.details {
	padding: 8px 22px;
}

.holderdiv {
	border: 5px solid white;
	margin-bottom: 10px;
	padding: 10px 5px 10px 5px;
}