.abs-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

header {
	background: rgb(124,31,233);
	background: radial-gradient(circle, rgba(124,31,233,1) 32%, rgba(121,0,133,1) 100%);
  }
  
  header::after {
	content: '';
	display: table;
	clear: both;
  }
  
  .logo {
	float: left;
	padding: 10px 0;
  }
  
  .nav {
	text-align: center;
	margin: 10px;
	
  }

  nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
  }
  
  nav li {
	display: inline-block;
	margin-left: 70px;
	padding-top: 23px;

	position: relative;
  }

.card {
	width: 90%;
	margin: 10px;
	margin: 0 auto;
}

.card-body {
	background-color: #444;
}

.card-text {
	height: 100px;
     /* white-space: nowrap; */
     overflow: hidden;
     text-overflow: ellipsis;
}

a.btn {
	margin: 10px !important;
	color: #444 !important;
	background-color: whitesmoke;
}

@mixin font-base {
	padding: 0;
	margin: 0;
	line-height: 1.3;
	font-weight: 600;
}

h4 {
	@include font-base;
}
h3 {
	background-color: #444;
}

h2 {
	color: #222;
}


p {
	@include font-base;
	color: whitesmoke;
	/* font-size: 10px; */
}

a {
	/* color: aqua; */
	color: aqua;
	font-size: 18px;
}
 a:hover {
	color:  #444;
}
.result {
	color: aqua;

}
body {
	background: rgb(124,31,233);
	background: radial-gradient(circle, rgba(124,31,233,1) 32%, rgba(121,0,133,1) 100%);
}

.container {
	width: 560px;
	background-color: #7b68ee;
	margin: 0 auto;
	color: aqua;
}


section {
	position: fixed;
	text-align: center;
	width: 560px;
	background-color: #fff;
}

section {
	top: 50px;
}

.logo {
	width: 120px;
	padding: 10px;
}

main {
	padding: 370px 18px 10px;
}

article {
	display: flex;
	align-items: center;
	padding: 8px 12px;
	border: 2px solid white;
	border-radius: 8px;
	margin: 0 auto;
	&:hover {
		border: 2px solid #ff9999;
	}
}

.thumb {
	height: 70px;
	border-radius: 4px;
}

.details {
	padding: 8px 22px;
}

.holderdiv {
	border: 5px solid white;
	margin-bottom: 10px;
	padding: 10px 5px 10px 5px;
}