@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
	margin: 0;
background: rgb(0,0,0);
background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(121,0,133,1) 100%);
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

html {
  scroll-behavior: smooth;
}

/* .text {
  margin-top: 10px;
} */
.text h2 {
  color: #fff;
  font-size: 7rem;
  cursor: context-menu;
  text-align: right;

}


.text span {
  display: inline-block;
  font-size: 30px;
}

span:hover {
  color: aqua;
  transition: all .5s;
}
span.name {
  color: aqua;
}

span.m-left {
  margin-left: -10px;
}

h3 {
  color: aqua;
  text-align: center;
  font-size: 35px;
  white-space: nowrap;
}


.container {
	width: 80%;
	margin: 0 auto;
}

header {
  
  background: rgb(124,31,233);
background: radial-gradient(circle, rgba(124,31,233,1) 32%, rgba(121,0,133,1) 100%);
}

header::after {
  content: '';
  display: table;
  clear: both;

}

.logo {
  float: left;
  padding: 10px 0;
}

.nav {
  text-align: center;
  margin: 0px;
  
}

.fill:hover{
  background-color: rgb(0, 247, 255);
}

h5{
  color: white;
  text-align: center;
  margin-bottom: 30px;
}
a{
  color: aqua;
  margin-right: 6rem;
}

/* nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
} */

/* nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
} */

/* nav a:hover {
  color: #000;
} */
/* 
nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
} */

/* nav a:hover::before {
  width: 100%;
} */

/* .cropped {
  width: 150px; /* width of container */
  /* height: 150px; /* height of container */
  /* overflow: hidden;
  border: 5px solid black; */
/* } */

.cropped img {
  margin: -10px 0px 0px -180px;
}


footer {
   
  margin-top: auto;
  background: rgb(124,31,233);
  background: radial-gradient(circle, rgba(124,31,233,1) 32%, rgba(121,0,133,1) 100%);
  width: 100%;
  text-align: center;
  height: 70px;
  position: absolute;
}
.footerborder {
    border-width: 5px !important;
    border-color: teal !important;
}  

img {
  color: aqua;
}

form.signup,
form.login {
  margin-top: 50px;
  padding: 40px 45px 40px 45px;
}





button {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}









@media screen and (max-width: 580px) {
  #navbar {
    padding: 20px 10px !important; /* Use !important to make sure that JavaScript doesn't override the padding on small screens */
  }
  #navbar a {
    float: none;
    display: block;
    text-align: left;
  }
  #navbar-right {
    float: none;
  }
}